<mat-nav-list>
    <button mat-button (click)="openCustomerDialog($event)" class="col-12 py-5">
        <span matListItemTitle class="fw-medium fs-5">Datos del cliente</span>
        <br>
        <span matLine>Datos del cliente en el SAP</span>
    </button>
    
    <button mat-button (click)="openApproachesDialog($event)" class="col-12 py-5">
        <span matListItemTitle class="fw-medium fs-5">Perfil de cliente </span>
        <br>
        <span matLine>Datos del perfil de cliente y sus contactos</span>
    </button>
    
  </mat-nav-list>